<div class="row">
    <div class="col-xs-12">
      <p>Add new Customer or Priority Customer!</p>
      <label>Customer Name</label>
      <input type="text" class="form-control" [(ngModel)]="newCustomerName">
      <label>Customer Balance</label>
      <input type="text" class="form-control" [(ngModel)]="newCustomerBalance">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddCustomer()">Add Customer</button>
      <button
        class="btn btn-primary"
        (click)="onAddPriorityCustomer()">Add Priority Customer</button>
    </div>
  </div>